<h1>Listing people</h1>

<table>
  <tr>
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Role</th>
    <th>Group</th>
    <th>Age</th>
    <th>Able to share room</th>
    <th>Mobile</th>
    <th>Email</th>
<th>Bookings</th>
    <th></th>

  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.imie %></td>
    <td><%= person.nazwisko %></td>
    <td><%= person.role %></td>
    <td><%= person.group_id %></td>
    <td><%= person.age %></td>
    <td><%= person.ableToShareRoom %></td>
    <td><%= person.mobile %></td>
    <td><%= person.email %></td>
    <td><%= person.bookings.count %></td>
    <td><%= link_to 'Show', person %>
    <%= link_to 'Edit', edit_person_path(person) %>
    <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
