<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
  to do 
 <li>  
	<ul > rezerwacja </ul>
		<ul> pokoju </ul>
		<ul> w hotelu </ul>
 	<ul >wolne pokoje w hotelu </ul>
 	<ul >wolne miejsca w hotelu </ul>
 	
 	</li>
 
<% end %>
