<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

to do


<li>

<ul >ceny pokoi </ul>
<ul >wolne miejsca w hotelu </ul>

<ul > rezerwacja </ul>
<ul> pokoju </ul>
<ul> w hotelu </ul>

</li>
