<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :beds %>
    <%= f.input :roomtype %>
    <%= f.input :roomNumber %>

    <%= f.select :hotel_id , Hotel.all.map { |hotel| [hotel.name, hotel.id] } %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
