<h1>Listing rooms</h1>

<table>
  <tr>
    <th>Hotel</th>
    <th>Beds</th>
    <th>Room type</th>
    <th>Room number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= room.hotel.name %></td>
    <td><%= room.beds %></td>
    <td><%= room.roomtype %></td>
    <td><%= room.roomNumber %></td>    
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
