<p id="notice"><%= notice %></p>
<div>
<%= image_tag(@hotel.picture_url, :width => 600) if @hotel.picture.present? %>
</div>
<p>
  <b>Name:</b>
  <%= @hotel.name %>
</p>

<p>
  <b>Street:</b>
  <%= @hotel.street %>
</p>

<p>
  <b>City:</b>
  <%= @hotel.city %>
</p>

<p>
  <b>Postcode:</b>
  <%= @hotel.postcode %>
</p>

<p>
  <b>Geolocation:</b>
  <%= @hotel.geolocation %>
</p>

<table>
<tr>
<th>Beds</th>
<th>Room type</th>
<th>Room number</th>
<th></th>
<th></th>
<th></th>
</tr>

<% @hotel.rooms.each do |room| %>
<tr>
<td><%= room.beds %></td>
<td><%= room.roomtype %></td>
<td><%= room.roomNumber %></td>
<td><%= link_to 'Show', room %></td>
<td><%= link_to 'Edit', edit_room_path(room) %></td>
<td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %> |
<%= link_to 'Add a Room', new_room_path %>
