<%= link_to "Hotels 4 Festival", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <li>
    <%= link_to 'Hotels', hotels_path %>
    </li>
    <li>
    <%= link_to 'Rooms', rooms_path %>
      </li>
    <li>
        <%= link_to 'People', people_path %>
    </li>
    <li>
        <%= link_to 'Groups', groups_path %>
    </li>
    <li>
        <%= link_to 'Bookings', bookings_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>

  <% end %>
</ul>
